src\Main.Application.DTO\bin\*.*
src\Main.Application.DTO\obj\*.*

src\Main.Application.Interface\bin\*.*
src\Main.Application.Interface\obj\*.*

src\Main.Application.Main\bin\*.*
src\Main.Application.Main\obj\*.*

src\Main.Application.Validator\bin\*.*
src\Main.Application.Validator\obj\*.*

src\Main.Cross.Common\bin\*.*
src\Main.Cross.Common\obj\*.*

src\Main.Cross.Mapper\bin\*.*
src\Main.Cross.Mapper\obj\*.*

src\Main.Domain.Core\bin\*.*
src\Main.Domain.Core\obj\*.*

src\Main.Domain.Entity\bin\*.*
src\Main.Domain.Entity\obj\*.*

src\Main.Domain.Interface\bin\*.*
src\Main.Domain.Interface\obj\*.*

src\Main.Infrastructure.Data\bin\*.*
src\Main.Infrastructure.Data\obj\*.*

src\Main.Infrastructure.Interface\bin\*.*
src\Main.Infrastructure.Interface\obj\*.*

src\Main.Infrastructure.Repository\bin\*.*
src\Main.Infrastructure.Repository\obj\*.*

src\Main.Service.WebApi\bin\*.*
src\Main.Service.WebApi\obj\*.*